body{
  padding: 100px;
}

.submit-area{
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding: 40px;
}
#transaction-area{
  display: none;
}

.deposit{
 
  background-color: slateblue;
}
.withdraw{
  background-color: salmon;
}
.balance{
  background-color: orange;
}
.status{
  margin: 0 20px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;

}